@tailwind utilities;
@import "tailwindcss";
@layer components {
  /* пример ваших кастомных классов */
  .random-marker {
    @apply w-4 h-4 rounded-full border-2 border-[var(--color-black)] bg-[var(--random-button-select)];
  }
  .attractor-marker {
    @apply w-4 h-4 rounded-full border-2 border-[var(--color-black)] bg-[var(--attractor-button-select)];
  }
  .void-marker {
    @apply w-4 h-4 rounded-full border-2 border-[var(--color-black)] bg-[var(--void-button-select)];
  }

  .user-marker {
    @apply w-4 h-4 rounded-full border-2 border-[var(--color-black)] bg-[var(--color-white)];
  }
}

body {
  font-family: "Onest", sans-serif;
  margin: 0;
}
#map {
  width: 100%;
  height: 100%;
}
:root {
  --color-white: #f7f7ff;
  --color-black: #0f0f0f;
  --color-blue: #66c7f4;
  --color-purple: #9a6eea;
  --color-lime: #f0f600;
  --color-red: #f9564f;
  --color-dark-grey: #262626;
  --color-light-grey: #898989;
  /*кнопки*/
  --random-button-select: var(--color-lime);
  --attractor-button-select: var(--color-red);
  --void-button-select: var(--color-purple);
  --random-button-hover: #f0f60040;
  --attractor-button-hover: #f9564f40;
  --void-button-hover: #9a6eea40;
  --secondary-button-color: #5c5c5c;
  /*токены*/
  --text-color: var(--color-white);
  --current-color: var(--random-button-select);
  --hint-color: var(--color-light-grey);
  --selector-color: var(--color-dark-grey);
  --hint-modal-color: var(--color-dark-grey);
}
